{% extends 'base.html' %}
{% block title %} Register a restaurant {% endblock %} 

{% block content %}
<body>
    <form action="/restaurant_register" method="POST" enctype="multipart/form-data">
        <div class="container">
          <h1>Register Your Restaurant</h1> <br>
          3 steps to register your restaurant successfully at flavorship: <br>
            1. Create a free account now.
            Register with your email address and receive a confirmation of your registration. <br>
            
            2. Enter your contact and restaurant information.
            Click the confirmation link in the email sent to you and enter your contact and restaurant information. <br>
            
            3. Complete the restaurant registration.
            After submitting your registration, we will check your restaurant. After your restaurant has been successfully checked, you will receive an email with an explanation on how to technically connect your events to flavorship. <br> <br>

            <small class="text-body-secondary"> You need to fill all fields that are marked with * to continue. </small>

          <hr>

          <label for="name"><b>Restaurant Name*</b></label>
          <input type="text" placeholder="Restaurant Name" name="name" pattern="([^\s][A-z0-9À-ž\s]+)" required>

          <label for="email"><b>Email*</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>
      
          <label for="psw"><b>Password*</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <small class="text-body-secondary">By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</small>
      
          <div class="form__fieldset">
            <input class="form__submit form__input" type="submit" value="Sign Up" formmethod="post"/>
          </div>

        </div>
        
      </form>
</body>

{% endblock %}